@{
    ViewData["Title"] = "Home Page";
}

@section Scripts
{   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/3.1.7/signalr.min.js"></script>
    <script type="text/javascript">

        $(document).ready(() => {
            //.configureLogging(signalR.LogLevel.Information)
            var connection = new signalR.HubConnectionBuilder().withAutomaticReconnect([1000, 3000, 3000, 2000]).withUrl("https://localhost:5001/MyHub").build();

            statusShow();
            start();
            //Functions
            function statusShow() {
                $("#conStatus").text(connection.connectionState);
            }

            function start() {
                connection.start().then(() => {
                    statusShow();
                    $("#loading").hide();
                    connection.invoke("GetNames");
                    // connection.invoke("GetNamesByGroup");
                }).catch((err) => {
                    console.log(err);
                    setTimeout(() => start(), 2000)
                });
            }

            statusShow();

            //Subcribes


            //allows to subscribe to a method
            connection.on("ReceiveName", (name) => {
                $("#namesList").append(`<li class="list-group-item">${name}</li>`)
            })
            //Tries to connect as soon as the connection is lost
            connection.onreconnecting(err => {
                $("#loading").show();
                statusShow();
            })
            //It tries to connect at 4 different times we give
            connection.onreconnected(connectionId => {
                $("#loading").hide();
                statusShow();
                console.log("connectionId:" + connectionId)
            })
            //If it cannot connect at four different times, it closes the connection.
            connection.onclose(() => {
                $("#loading").hide();
                statusShow();
                start();
            })
            connection.on("ReceiveClientCount", (clientCount) => {
                $("#clientCount").text(clientCount);
            })
            connection.on("Notify", (countText) => {
                $("#notify").html(`<div class="alert alert-success"> ${countText} </div>`)
            })
            connection.on("Error", (errorText) => {
                alert(errorText);
            })
            connection.on("ReceiveNames", (names) => {
                $("#namesList").empty();
                names.forEach((item, index) => {
                    $("#namesList").append(`<li class="list-group-item">${item} </li>`)
                })
            })

            //Clicks
            $("#btnNameSave").click(() => {

                //invoke method is a method to call our server side methods
                connection.invoke("SendName", $("#txtName").val()).catch((err) => console.log(err))
            })

            //On methods

           

        })

    </script>
}

<div class="row">
    <div class="col-md-8 offset-2">
        <input class="form-control" type="text" id="txtName" />
        <hr />
        <button class="btn btn-primary" id="btnNameSave">Save Name</button>
        <div class="alert alert-info">
            <div class="float-left">
                Bağlantı Durumu:<strong id="conStatus"></strong>
                ,Client Sayısı: <strong id="clientCount"></strong>
            </div>
            <div class="float-right">
                <div class="spinner-border" id="loading" role="status">
                    <span class="visually-hidden"></span>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div id="notify">

        </div>
    </div>
    <div class="col-md-8 offset-2">
        <ul class="list-group" id="namesList">

        </ul>
    </div>
</div>
